@charset "UTF-8";
/* CSS Document */
#wrapper {
	magrin-left: auto;
	magrin-right: auto;
	background-color:#900;
	widt: 890 px;
	height:700 px;
}
#header {
	magrin-left: auto;
	magrin-right: auto;
	background-color:#900;
	widt: 890 px;
	height:500 px;
